.activeLabel {
     -fx-font-weight: bold;
     -fx-text-fill: seagreen;
 }
 
 .selectedLabel{
     -fx-font-weight: bold;
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 ); 
     -fx-background-radius: 3px;
     -fx-border-radius: 3px;
     -fx-text-fill: seagreen;
     -fx-border-color: darkgray;
 }

 .backLabel {
     -fx-font-weight: bold;
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 ); 
     -fx-background-radius: 3px;
     -fx-text-fill: FIREBRICK;
     -fx-background-color: lightsalmon;
     -fx-border-radius: 3px;
     -fx-border-color: darkgray;
 }