.pane{
    -fx-background-color: #FFF0D0;
}

.apply{
    -fx-background-color: #ADEA8F;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.close{
    -fx-background-color: #F59C9C;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.apply:hover {
        -fx-background-color: #E3FFB5;
}

.close:hover {
        -fx-background-color: #FFB9B5;
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}